{% extends "index.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/dark-menubar.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'passwordManager/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include "menubar.html" %}

<main class="container">
    <form method="post">
        {% csrf_token %}
        <p>Realmente deseja remover o password {{ object }}?</p>
        <button type="submit" class="btn btn-danger">Sim</button>
    </form>
</main>

<script src="{% static 'passwordManager/js/password_confirm_delete.js' %}"></script>
{% endblock %}