{% extends "index.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/dark-menubar.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'passwordManager/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include "menubar.html" %}

<main class="container">
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <button type="submit">{% if object %}Atualizar{% else %}Criar{% endif %}</button>
    </form>
</main>

<script src="{% static 'passwordManager/js/password_form.js' %}"></script>
{% endblock %}