{% extends "index.html" %}
{% load static %}
{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/dark-menubar.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'passwordManager/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
{% include "menubar.html" %}

<main class="container">
    <form class="w-100 d-flex justify-content-center mb-3">
        <table id="input-table">{{ filter.form }}</table>
        <button id="search-button" type="submit" data-bs-toggle="popover" data-bs-trigger="hover focus"
                data-bs-content="Pesquisar">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <div id="card-list" class="row">
        {% for object in object_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 pb-3">
            <div class="card password-card">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.username }}</h6>
                    <p class="card-text">{{ object.description }}</p>
                    <a href="{% url 'passwordManager:detail' object.pk %}" class="card-link">detail</a>
                    <a href="{% url 'passwordManager:update' object.pk %}" class="card-link">update</a>
                    <a href="{% url 'passwordManager:delete' object.pk %}" class="card-link">delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 pb-3">
            <div id="create-card-button" class="card border-success text-bg-success h-100 d-flex justify-content-center align-items-center" role="button"
                 onclick="location.href = '{% url 'passwordManager:create' %}';">
                <svg xmlns="http://www.w3.org/2000/svg" width="9em" height="9em" fill="currentColor" class="bi bi-plus"
                     viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </div>
        </div>
    </div>
</main>

<footer></footer>

<script src="{% static 'passwordManager/js/core.js' %}"></script>
{% endblock %}