{% extends "index.html" %}
{% load static %}

{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/dark-menubar.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'passwordManager/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{% include "menubar.html" %}

<main class="container my-auto">
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    <dl class="row">
        <dt class="col-3">Username</dt>
        <dd class="col-9">
            <span id="usernameSpan">{{ object.username }}</span>
            <button type="button" id="copyUsernameButton" class="btn btn-default" onclick="copyUsername()"
                        data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Copiado para o clipboard"
                         data-bs-trigger="focus"><i class="bi bi-files"></i></button>
        </dd>

        <dt class="col-3">Password</dt>
        <dd class="col-9 d-flex align-items-center">
            <span id="passwordP">************</span>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" id="showButton" class="btn btn-default" onclick="showPassword()"><i id="passwordI"
                                                                                                          class="bi bi-eye"></i>
                </button>
                <button type="button" id="copyPasswordButton" class="btn btn-default" onclick="copyPassword()"
                        data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Copiado para o clipboard"
                         data-bs-trigger="focus"><i class="bi bi-files"></i></button>
            </div>
        </dd>
    </dl>
</main>

<footer class="fixed-bottom"></footer>

<script src="{% static 'passwordManager/js/password_detail.js' %}"></script>
{% endblock %}

{% block endbody %}
<script>
        var innerHTML = '{{ object.password }}';
        var classString = 'bi-eye-slash';
        function showPassword() {
            var passwordP = document.getElementById('passwordP');
            var passwordI = document.getElementById('passwordI');
            var aux = null;
            var showButton = document.getElementById('showButton');

            aux = innerHTML;
            innerHTML = passwordP.innerHTML;
            passwordP.innerHTML = aux;

            passwordI.classList.add(classString);
            classString = passwordI.classList.item(1);
            passwordI.classList.remove(classString);

            aux = infoString;
            infoString = showButton.getAttribute('data-bs-content');
            showButton.setAttribute('data-bs-content', aux);
        }

        function copyPassword() {
            navigator.clipboard.writeText('{{ object.password }}');
        }

        function copyUsername() {
            navigator.clipboard.writeText('{{ object.username }}');
        }

</script>
{% endblock %}