{% extends "index.html" %}
{% load static %}
{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
<link href="{% static 'css/dark-menubar.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'passwordManager/css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
{% include "menubar.html" %}

<main class="cover-container mx-auto">
    <form class="w-100 d-flex justify-content-center">
        <table id="input-table">{{ filter.form }}</table>
        <button id="search-button" type="submit" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Pesquisar">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <a href="{% url 'passwordManager:create' %}">create</a>
    <ul>
        {% for object in object_list %}
        <li>{{ object }} <a href="{% url 'passwordManager:detail' object.pk %}">detail</a> <a
                href="{% url 'passwordManager:update' object.pk %}">update</a> <a
                href="{% url 'passwordManager:delete' object.pk %}">delete</a></li>
        {% endfor %}
    </ul>
</main>

<footer></footer>

<script src="{% static 'passwordManager/js/core.js' %}"></script>
{% endblock %}