{% extends "base.html" %}
{% block body %}
{% include "menubar.html" %}

<form>
    <table>{{ filter.form  }}</table>
    <button type="submit">Pesquisar</button>
</form>

<a href="{% url 'passwordManager:create' %}">create</a>
<ul>
{% for object in object_list %}
    <li>{{ object }} <a href="{% url 'passwordManager:detail' object.pk %}">detail</a> <a href="{% url 'passwordManager:update' object.pk %}">update</a> <a href="{% url 'passwordManager:delete' object.pk %}">delete</a></li>
{% endfor %}
</ul>
{% endblock %}