{% extends 'index.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<main class="form-signin w-100 m-auto">
    <form method="post" id="form">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
        <table id="formTable">
            {{ form }}
        </table>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    </form>
</main>
<script src="{% static 'js/signin.js' %}"></script>
{% endblock %}